

<!doctype html>
<html>
    {% block head %}
        <meta content="{{ csrf_token() }}" name="csrf-token" />
        <link href="/static/bootstrap/5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/V1/css/custom.css" />
    {% endblock %}


    <body>
        <div class="container">
            <h1>{{ title }}</h1>
            {% block navbar %}
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" id="hamburgerBtn2Id" class="btn backBtnClass hamburgerBtnClass button-div navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1"> &#9776; </button>
                            <a class="navbar-brand" href="{{ url_for('api.index') }}">Construction Overlay</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('api.index') }}">Home</a></li>
                            </ul>
                            {% if g.search_form %}
                            <form class="navbar-form navbar-left" method="get" action="{{ url_for('api.search') }}">
                                <!-- form-group is a bootstrap class
                                     https://getbootstrap.com/docs/4.0/components/forms/#form-groups -->
                                <div class="form-group">
                                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                                </div>
                            </form>
                            {% endif %}
                            <ul class="nav navbar-nav navbar-right">
                                <span id="settingStr2Id" class="list-group-item list-group-item-action">placeholder</span>
                                <script>
                                    const url = new URL(window.location);
                                    console.log('url', url);
                                    document.getElementById('settingStr2Id').innerText = 'Host name: ' + url.hostname + '\n' + 'App Version: ';
                                </script>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
      
            {% block content %}
            <div class="container">
                {% if current_user.is_authenticated %}
                {% with tasks = current_user.get_tasks_in_progress() %}
                {% if tasks %}
                    {% for task in tasks %}
                    <div class="alert alert-success" role="alert">
                        {{ task.description }}
                        <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% endif %}
                
                    <!-- flash messages -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for error_message in get_flashed_messages(category_filter=["error"]) %}
                            <div class="alert alert-danger alert-dismissible">{{ error_message }}</div>
                        {% endfor %}
                        
                        {% for success_message in get_flashed_messages(category_filter=["success"]) %}
                            <div class="alert alert-success alert-dismissible">{{ success_message }}</div>
                        {% endfor %}
                        
                        {% for info_message in get_flashed_messages(category_filter=["info"]) %}
                            <div class="alert alert-info alert-dismissible">{{ info_message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        
                    
                {# application content needs to be provided in the app_content block #}
                {% block app_content %}{% endblock %}
            </div>
        {% endblock %}
        </div>
  
        <script src="/static/bootstrap/5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
  