
{% set variable1 = "layout.html" %}

<!-- https://stackoverflow.com/questions/5380984/any-way-to-make-extends-conditional-django -->
{% extends variable1 %}

{% block head %}
<link rel="manifest" href="/V1/manifest.json" />
{% endblock %}

{% block content1 %}
<main id="main-container-id" class="d-flex flex-column" role="main">
    <meta content="{{ csrf_token() }}" name="csrf-token" />

    <select id="sitesId" style="display: none">
        <option value='{ "site_name":"No site selected" }'>
            No site selected
        </option>
        {% for key, site in sites.items() %}
        <optgroup label={{ site["name"] }}>
            {% for plan in site["plans"] %}
            <option value='{ "site_name":"{{site["name"]}}",
                           "name":"{{plan["name"]}}",
                           "site_id":"{{plan["site_id"]}}",
                           "id":"{{plan["id"]}}",
                           "url":"{{plan["url"]}}",
                           "plan_filename":"{{plan["plan_filename"]}}",
                           "from_webserver":"true" }'>
                {# {{plan['site_id']}}:{{plan['id']}}:{{site["name"]}}:{{plan['name']}} #}
                {{plan['name']}}
            </option>
            {% endfor %}
        </optgroup>
        {% endfor %}
    </select>
    <div id="inProgressSpinnerId" class="loader loader-default"></div>
    <div id="mainHeaderId" class="row mainHeaderClass">
        <div class="col-3">
            <button id="hamburgerBtnId" class="btn backBtnClass hamburgerBtnClass button-div" type="button"> &#9776; </button>
            <button id="planViewBackBtnId" class="btn backBtnClass planViewBackBtnClass button-div" type="button">
                <!-- https://www.w3schools.com/howto/howto_css_icon_buttons.asp -->
                <i class="bi bi-arrow-left text-primary" aria-label="Back"></i>
            </button>
            <button id="imageViewBackBtnId" class="btn backBtnClass imageViewBackBtnClass button-div" type="button">
                <i class="bi bi-arrow-left text-primary" aria-label="Back"></i>
            </button>
            
            <button id="imagesBackBtnId" class="btn backBtnClass imagesBackBtnClass button-div" type="button">
                <i class="bi bi-arrow-left text-primary" aria-label="Back"></i>
            </button>
        </div>
        <div id='connectionStatusId' class="col-3">
            <span id='internetConnectionStatusId' class="connection-status internet-connection-unknown" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Connected to the cloud.">
                <i id='internetConnectionStatusIconId' class="bi bi-wifi-off"></i>
            </span>
            <span id='loggedInStatusId' class="connection-status logged-out" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Logged-in.">
                <i id='loggedInStatusIconId' class="bi bi-arrow-left-square"></i>
            </span>
            <span id='syncWithWebServerStatusId' class="connection-status synced-with-webserver-unknown" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Synced to the cloud.">
                <i id='syncWithWebServerStatusIconId' class="bi bi-cloud-arrow-down"></i>
            </span>
        </div>
    </div>

    <div id="planPaneWrapperId" class="pane-div">
        <div id="planThumbnailsPaneId" class="planThumbnailsPaneClass pane-div">
            <footer id="planThumbnailsPaneFooterId" class="fixed-bottom footer-class planThumbnailsPaneFooter-class">
                <div class="openZipFileBtnClass" type="button">
                    <i id="openZipFileIconId" class="bi bi-files"></i>
                    <input id="openZipFileInputId" type="file" />
                </div>
            </footer>
            <div class="container">
                <ol id="plan-list"> </ol>
            </div>
        </div>

        <div id="planViewPaneId" class="planViewPaneClass pane-div">

            <canvas id="planView3dCanvasId" class="canvasPlanViewClass"></canvas>
            
            <ul id="planViewMenuId" class="context-menu">
                <li data-action="moveOverlayRect">Move OverlayRect</li>
                <li data-action="deleteOverlayRect">Delete OverlayRect</li>
                <li data-action="mergeOverlayRectStart">Merge OverlayRect - start</li>
                <li data-action="mergeOverlayRectEnd">Merge OverlayRect - end</li>
            </ul>

            <!-- keep the footer fixed at the bottom of the page even for long scrollable content -->
            <!-- https://mdbootstrap.com/snippets/jquery/mdbootstrap/2886080 -->
            <footer id="planViewPane-footer-id" class="fixed-bottom footer-class planViewPane-footer-class">
                <button id="syncFromZipFileToWebServerBtnId" type="button" class="syncFromZipFileToWebServerBtn-class">
                    <a data-tooltip="Sync From Zip File To Web Server">
                        <i class="bi bi-cloud-arrow-up"></i>
                    </a>
                </button>
                <button id="addOverlayRectId" type="button" class="addOverlayRect-class">
                    <a data-tooltip="add overlayRect">
                        <i class="bi bi-camera-fill"></i>
                    </a>
                </button>
            </footer>

        </div>
    </div>

    <div id="overlayRectImageThumbnailsPaneWrapperId" class="overlayRectImageThumbnailsPaneWrapperClass pane-div">
        <div id="overlayRectImageThumbnailsPaneId" class="overlayRectImageThumbnailsPaneClass pane-div">
            <ol id="overlayrect-thumbnail-images-id" class="overlayrect-thumbnail-images"></ol>
    
            <footer id="overlayRectImageThumbnailsPaneId-footer-id" class="fixed-bottom footer-class overlayRectImageThumbnailsPane-footer-class">
                <div class="addPhotoBtnClass" type="button">
                    <i id="addPhotoIconId" class="bi bi-plus-lg"></i>
                    <input id="addPhotoInputId" type="file" />
                </div>
            </footer>
        </div>
        <ul id="overlayRectImageThumbnailsMenuId" class="context-menu">
            <li id="deletePhotoId" data-action="deletePhoto">Delete Photo</li>
            <li id="splitImageFromOverlayRectId" data-action="splitImageFromOverlayRect">Split Image from OverlayRect</li>
        </ul>
    </div>
    
    <div id="imageViewPaneId" class="imageViewPaneClass pane-div"> 
        <canvas id="selectedImage3dCanvasId" class="canvasPlanViewClass"></canvas>
        <div id="imageTextInfoId" class="imageTextInfoClass"> </div>
        <footer id="imageViewPaneFooterId" class="fixed-bottom footer-class imageViewPaneFooter-class">
            <p><span id="dateCreatedId" class="dateCreatedClass">xxxx</span></p>
        </footer>
    </div>


    <div id="project-menu-id" class="container-fluid container_projectMenu">
        <div class="row">
            <div id="projectMenu_title" class="projectMenu_title col-12 bg-dark text-white vertical-align">Construction Overlay</div>
        </div>
        <div class="row">
            <div id="projectMenu_actions" class="col-12 list-group list-group-root" role="tablist">
                <a id="list-option-plans" class="list-group-item list-group-item-action active" data-bs-toggle="list">Plans</a>
                <a id="list-option-photos" class="list-group-item list-group-item-action" data-bs-toggle="list">Photos</a>
                <a id="list-option-people" class="list-group-item list-group-item-action" data-bs-toggle="list">People</a>
                <a id="list-option-settings" class="list-group-item list-group-item-action" data-bs-toggle="list">Settings</a>
                {% if (current_user.role == "group_owner") or (current_user.role == "admin") %}
                <div class="list-group">
                    <a id="list-option-admin_view_groups" class="list-group-item list-group-item-action" href="/admin_view_groups">Manage Groups</a>
                    <a id="list-option-admin_view_users" class="list-group-item list-group-item-action" href="/admin_view_users">Manage Users</a>
                    <a id="list-option-admin_view_sites" class="list-group-item list-group-item-action" href="/admin_view_sites">Manage Sites</a>
                </div>
                {% endif %}
                <button id="listOptionLogInId" class="list-group-item list-group-item-action" type="button">Log In</button>
                <!-- <a id="logInAsGuestId" href="{{ url_for('api.loginAsGuest') }}">Log In As Guest</a> -->
                <a id="list-option-logOutId" class="list-group-item list-group-item-action" href="/logout">Log Out</a>
                <div>
                    <span id="settingStrId" class="list-group-item list-group-item-action">placeholder</span>
                    <span id="userProfileId" class="nav navbar-nav">
                        <a href="{{ url_for('api.user_profile') }}">{{ current_user.email }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main-container-id -->

<!-- need to disable the next 2 lines to run guiMockup -->
<!-- <div id="floorplanButtonGroupId"></div> -->
<!-- <div id="toolbarGroupId"></div> -->

<script type="module" src="/V1/js/col/main.js"></script>
{% endblock %}
<!-- block content1 -->

