/* ---------------------------------------------------- */
/* BROWSER RESETS */
/* ---------------------------------------------------- */

html body {
  display: block;
  /* margin: 0; */
  height: 100%;
  width: 100%;
  position: absolute;
  /* touch-action is needed to disable the browser's default behaviour to zoom-in in iOS*/
  touch-action: manipulation;
}

ol ul {
  list-style: none;
}

blockquote q {
  quotes: none;
}

blockquote:before blockquote:after q:before q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b {
  font-weight: bold;
}

/* ---------------------------------------------------- */
/* TOOLS PANE */
/* ---------------------------------------------------- */

#col-tabbed-pane {
  font-size: 10pt;
}

/* ---------------------------------------------------- */
/* Buttons */
/* ---------------------------------------------------- */

.mjs-scenebar-class .ui-button .ui-button-text .ui-button .ui-button-text {
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.admin-feature {
  border-style: dotted;
}

.ui-button {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-top: 1px;
  /* visibility: hidden; */
}

/* .ui-button:hover { */
/*   visibility: visible; */
/* } */

/* All elements with tag "img" inside class ".ui-button" */
.ui-button img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.ui-button-right-align {
  float: right;
}

.ui-button-disabled {
  /* disabled: true; */
  /* pointer-events works ok, disabled - not making any change? */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events */
  /* pointer-events: none; */
  /* opacity: 0.3;  */
  /* cursor: not-allowed; */
  background: rgb(170, 170, 170);
  background-color: rgb(170, 170, 170);
}

.ui-button.col-toggle-on {
  /* background: rgb(69,219,128); */
  background: red;
}

/* ---------------------------------------------------- */
/* Custom Toggle Button */
/* ---------------------------------------------------- */

.col-custom-toggle-button {
  display: inline-block;
  /* padding-bottom: 8px; */
  position: relative;
}

.col-custom-toggle-button-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 5px;
}

.col-custom-toggle-button-arrow.arrow-selected {
  border-top: 6px solid black;
}

/* ---------------------------------------------------- */
/* ColJS global styles */
/* ---------------------------------------------------- */

label[for="textureInfos"] label[for="textureName"] {
  color: blue;
  font-weight: bold;
}

label[for="textureName"].error {
  color: red;
}

.fill {
  object-fit: fill;
}

.contain2 {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.scale-down {
  object-fit: scale-down;
}

.none {
  object-fit: none;
}

#drop_area {
  width: 100%;
  height: 50%;
  border: 3px dashed #aaa;
  border-radius: 10px;
  text-align: center;
}

.area {
  border: 5px dotted #ccc;
  /* padding: 50px;     */
  text-align: center;
}

.drag {
  border: 5px dotted green;
  background-color: yellow;
}

/* ---------------------------------------------------- */
/* quilljs sticky note */
/* ---------------------------------------------------- */

.content-area {
  line-height: 3;
}

.note p {
  font-family: "Reenie Beanie", cursive;
  font-size: 15px;
}

.inactive-note {
  background-color: red;
  display: none;
}

.active-note {
  background-color: red;
  display: block;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.note-element-label {
  color: #fff;
  font-family: sans-serif;
  padding: 2px;
  background: rgba(0, 0, 0, 0.6);
}

.note {
  background-color: #f00;
  position: absolute;
}

.imageTextInfoClass {
  /* both position: fixed, absolute are ok here. We want the imageTextInfo */
  /* to be anchored to top,left corner of the parent element */
  /* position: fixed; */
  position: absolute;
  background-color: grey;
  display: block;
}

.editor {
  background-color: #00f;
}

.bootstrap-override {
  position: relative;
  display: inline-block;
}

.nav > li {
  position: relative;
  /* position: absolute; */
  display: inline-block;
  opacity: 1;
  background-color: aliceblue;
  height: 40px;
  vertical-align: middle;
  padding: 0 10px;
}

li > ul {
  position: relative;
  display: inline-block;
  opacity: 1;
  transform: translateY(50%);
}

.nav > li > a {
  padding: 0 0;
}

.navbar-nav {
  margin: 0 0;
}

#result ul {
  list-style: none;
  /* margin-top: 20px; */
}

#result ul li {
  border-bottom: 1px solid #ccc;
  /* margin-bottom: 10px;     */
}

/* --------------- */
/* BEG Grid layout */
/* --------------- */

/* @media only screen and (orientation:portrait){ */
/*   body { */
/*     height: 100vw; */
/*     width: 100vw; */
/*     transform: rotate(90deg); */
/*   } */
/* } */

/* https://code-boxx.com/lock-screen-orientation/#sec-rotate */
/* option2 - causes complications, e.g. in planViewPane, when moving the finger in the x direction is interpreted as it moves in y direction in landscape mode */
/* option1 - in portrait display message to rotate to landscape */

#main-container-id {
  height: 100%;
  width: 100%;
}

#userProfileId {
  background-color: #edeff1;
  border: 1px solid;
}

/* ---------------------------------------------------- */
/* BEG floorplanButtonGroup - contains: */
/* - contains:
/*   - floorplanButtonGroup */
/* ---------------------------------------------------- */

#floorplanButtonGroupId {
  background-color: #dddddf;
  z-index: 2;
  opacity: 0.8;
  display: inline;
}

#divImageInfoId {
  background-color: #e9e9ea;
  z-index: 2;
  opacity: 0.8;
  display: inline;
  margin-bottom: 0;
}

#buttonImageInfoId {
  background-color: #ededee;
  z-index: 2;
  opacity: 0.8;
  display: inline;
  margin-bottom: 0;
}

#imageIndexInOverlayRectLabelId {
  background-color: #f1f1f1;
}

#container_flashMessagesId {
  z-index: 1;
  opacity: 1;
  display: flex;
}

/* ---------------------- */
/*   BEG floorplanButtonGroup -> image info related */
/* ---------------------- */

/* override the default settings of class .popover by providing heigher specificity */
/* specificity of "div.popover" is heigher than ".popover" */
div.popover {
  /* prevent dragging the page via click and drag of the element */
  pointer-events: none;
  background-color: blue;
}

/* override the default settings of class .popover-header by providing heigher specificity */
/* specificity of "h3.popover-header" is heigher than ".popover-header" */
h3.popover-header {
  /* prevent dragging the page via click and drag of the element */
  pointer-events: none;
  background-color: orange;
}

.popover-body {
  /* prevent dragging the page via click and drag of the element */
  pointer-events: none;
  background-color: red;
}

#imageInfoElementId {
  display: none;
}

/* ---------------------- */
/*   END floorplanButtonGroup -> image info related */
/* ---------------------- */

#inProgressSpinnerId {
  /* height: 80%; */
  /* background-color: green; */
}

/* ---------------------------------------------------- */
/* END floorplanButtonGroup */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* BEG scenebar */
/* ---------------------------------------------------- */

#toolbarGroupId {
  background-color: #dddddf;
  z-index: 2;
  opacity: 0.8;
  display: inline-flex;
}

/* col-scenebarId (id) takes precedences (has more specificity) compared to mjs-scenebar-class (class),  */
#col-scenebarId {
  background-color: #e0e0e0;
  z-index: 2;
  opacity: 0.8;
  touch-action: none;
  display: inline-block;
}

#planview-settings-modal-btn {
  z-index: 2;
  opacity: 0.8;
  touch-action: none;
  font-size: 1rem;
  height: 30px;
}

/* ---------------------------------------------------- */
/* BEG PlanView Setting Modal related                    */
/* ---------------------------------------------------- */

#overlayRectSizeDataSliderId .slider-selection {
  background: red;
}

.date_pickr {
  width: 100%;
}

.date_name_class {
  width: 100%;
}

.date_row_class {
  width: 80%;
}

.table {
  border: 1px solid;
  width: 80%;
  display: block;
  /* vertical-align: middle; */
  margin: auto;
}

tr {
  height: auto;
}

td {
  vertical-align: middle;
  display: table-cell; /* Make elements inside the container behave like table cells */
}

.center {
  text-align: center;
  vertical-align: middle;
}

table th {
  text-align: center;
}

td [type="checkbox"] {
  background-color: red;
  /* text-align: center; */
  /* width: 100%; */
  margin-left: auto;
}

td [type="button"] {
  text-align: center;
  /* width: 90%; */
  display: block;
}

/* ---------------------------------------------------- */
/* END PlanView Setting Modal related                    */
/* ---------------------------------------------------- */

/* https://stackoverflow.com/questions/22437514/how-to-keep-elements-on-same-line-with-overflow */
/* set the top toolbar buttons (buttons under toolbarGroupId) in the same line, 
e.g. zipFile related buttons, editOverlay related buttons, planview-settings-modal-btn */
#toolbarGroupId > .mjs-scenebar-class > div {
  display: inline-block;
}

/* set the top toolbar buttons (buttons under toolbarGroupId) in the same line, 
e.g. zipFile related buttons, editOverlay related buttons, planview-settings-modal-btn */
#toolbarGroupId > a {
  display: inline-block;
}

/* @media screen and (max-width: 1000px) { */
/*     #col-scenebar { */
/*         /\* display: none; *\/ */
/*         background: #ff0f; */
/*     } */
/* } */

#zipFileOptions_adminId {
  z-index: 2;
  opacity: 0.8;
}

#editOptionsId {
  z-index: 2;
  opacity: 0.8;
}

/* ---------------------------------------------------- */
/* END scenebar */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* BEG planPaneWrapperId planThumbnailsPaneId */
/* ---------------------------------------------------- */

#planPaneWrapperId {
    overflow: hidden;
}

#planThumbnailsPaneId {
    overflow-y: scroll;
}

#planPaneWrapperId, #planThumbnailsPaneId {
    position: relative;
    z-index: 2;
    opacity: 0.8;
    border: 2px solid;
    padding: 5px;
    width: 100%;
    /* width: 15%; */
    height: 100%;
}

/* portrait mode */
@media only screen and (orientation: portrait) {
  #planPaneWrapperId, #planThumbnailsPaneId {
    padding-left: 0;
    padding-top: 0;
  }
}

/* landscape mode */
@media only screen and (orientation: landscape) {
  #planPaneWrapperId, #planThumbnailsPaneId {
    padding-left: 0;
    padding-top: 0;
  }
}

.planThumbnailsPaneClass {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
}

/* ---------------------------------------------------- */
/* END planPaneWrapperId planThumbnailsPaneId */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* BEG planViewPane */
/* ---------------------------------------------------- */


.planViewPaneClass {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.canvasPlanViewClass {
  height: 80%;
  background-color: green;
  display: block;
  z-index: 10;
}

.floorPlanWhiteboardClass {
  background: #69dbce;
  opacity: 0.5;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 0;
  top: 0;
  cursor: move;
  /* z-index: -1; */
}

.floorPlanWhiteboardMenuWrapperClass {
  background: red;
  opacity: 0.5;
  /* background-color: transparent; */
  /* position: absolute; */
  /* width: 50%; */
  /* height: 50%; */
  /* left: 50%; */
  /* top: 60%; */
  cursor: move;
  /* z-index: -1; */
}

.showFullSize {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

/* .combobox1 { */
/*     display: inline-block !important; */
/* } */

/* ---------------------------------------------------- */
/* END planViewPane */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* BEG overlayRectPane */
/* ---------------------------------------------------- */

.overlayRectPaneWrapperClass {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index: 1;
}
  
.overlayRectImageThumbnailsPaneClass {
    width: 100%;
    height: 100%;
    touch-action: none;
    display: grid;
    /* Setting grid-template-columns using vh units (instead of vw) causes the grid cells to be square
    This is done so that the editMode button becomes square */
    grid-template-rows: repeat(auto-fill, minmax(5vh, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(5vh, 1fr));
}

/* ---------------------------------------------------- */
/* END overlayRectPane  */
/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* BEG imageViewPane */
/* ---------------------------------------------------- */

/* height/width: 100% is needed or elese the selectedImage is not seen ? */
#imageViewPaneId {
  height: 100%;
  width: 100%;
}

#siteId {
  display: none;
}

#connectionStatusId {
    color: white;
    z-index: 4;
    display: flex;
}

.connection-status {
    font-size: xx-large;
    padding: 0.5rem;
}

.internet-connection-unknown, .synced-with-webserver-unknown {
    color: white;
}

.internet-connected, .logged-in, .synced-with-webserver {
    color: green;
}

.internet-disconnected, .logged-out, .not-synced-with-webserver {
   color: red;
}
/* ---------------------------------------------------- */
/* END imageViewPane */
/* ---------------------------------------------------- */


#admin-view-sites-id,
#admin-view-groups-id,
#admin-view-users-id,
#admin-edit-site-id,
#admin-add-site-id,
#admin-edit-group-id,
#admin-edit-user-id,
#admin-add-user-id,
/* #user-profile-id, */
#password-change-id,
#email-change-id {
  grid-column: 1/-1;
  grid-row: 3;
  padding: 0 0;
  width: fit-content;
  height: fit-content;
}

#user-profile-id {
    /* padding: 0 0;
    width: fit-content;
    height: fit-content; */
}
  

#admin-view-sites-page-header-id,
#admin-view-groups-page-header-id,
#admin-view-users-page-header-id,
#admin-edit-site-page-header-id,
#admin-add-site-page-header-id,
#admin-edit-group-page-header-id,
#admin-edit-user-page-header-id,
#admin-add-user-page-header-id,
#user-profile-page-header-id,
#password-change-page-header-id,
#email-change-page-header-id {
  padding: 0 0;
  width: inherit;
  height: 100%;
  display: block;
}

/* #admin-edit-site-table-id { */
/*     display: grid; */
/*     /\* the use of "fr" calculates the elements such that grid-template-rows / grid-template-columns don't exceed 100% *\/ */
/*     /\* otherwise the window scrolls *\/ */
/*     grid-template-columns: initial; */
/*     grid-template-rows: initial; */
/*     /\* height: 100%; *\/ */
/*     /\* width: 100%; *\/ */
/* } */

#admin-view-sites-table-id,
#admin-view-groups-table-id,
#admin-view-users-table-id,
#admin-edit-site-table-id {
  opacity: 1;
  padding: 0 0;
  height: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
}


#admin-view-sites-table-header-id,
#admin-view-groups-table-header-id,
#admin-view-users-table-header-id,
#admin-edit-site-table-header-id {
  padding: 0 0;
  display: table-header-group;
  margin-left: 0;
  margin-right: 0;
}

/* #admin_list_of_sites-id { */
/*     background-color: #a0ad92; */
/*     padding: 0 0; */
/*     display: block; */
/* } */

#admin-view-sites-buttons-id,
#admin-edit-site-buttons-id {
  display: block;
  width: max-content;
}

#view_sites_button_id {
  margin-left: 1em;
  margin-bottom: 1em;
  display: flex;
  width: max-content;
  float: right;
}

#add_new_site_button_id {
  margin-left: 1em;
  margin-bottom: 1em;
  width: max-content;
  float: right;
}

/* --------------- */
/* END admin pages */
/* --------------- */

#saveFromWebServerToZipFileStatus {
  display: inline;
}

#alert_placeholder {
  /* position: absolute; */
  position: relative;
  z-index: 999;
}

#bootstrap_alert_success {
  position: absolute;
  /* position: relative; */
  z-index: 999;
}
